:root {
  /* Light theme (default) */
  --color-primary: #0070f3;
  --color-primary-light: #3289f3;

  --surface-primary: var(--color-primary);
  --surface-primary-hover: var(--color-primary-light);

  --surface-main: #ffffff;
  --surface-background: #ffffff;

  --surface-transparent: rgba(0, 0, 0, 0);
  --surface-transparent-hover: rgba(0, 0, 0, 0.2);

  --border-main: #d4d4ff;

  --text-on-main: #000000;
  --text-on-background: #000000;
  --text-on-transparent: #000000;

  --transition-time-default: 0.3s;

  /* todo: cleanup the rest */
  --text-secondary-color: #666666;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  /* Dark theme */
  --surface-transparent-hover: rgba(255, 255, 255, 0.3);
  --text-on-transparent: #ffffff;

  --surface-main: #242424;
  --surface-background: #121212;

  --text-on-main: #ffffff;
  --text-on-background: #e0e0e0;

  --border-main: #454560;

  /* todo: cleanup the rest */
  --text-secondary-color: #aaaaaa;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface-background);
  color: var(--text-on-background);
  transition:
    background-color var(--transition-time-default),
    color var(--transition-time-default);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}
